@model IEnumerable<EURO2020.Models.Player>

@{
    ViewBag.Title = "Players";
}

<h2>List of all players and scored goals</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="playerTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImgURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goals)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img style="width:70px;height:50px;position:center" src="@item.ImgURL" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Goals)
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "form-control" })
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "form-control" })
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "form-control" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#playerTable").DataTable();
        });
    </script>
}
