@model IEnumerable<EURO2020.Models.Team>

@{
    ViewBag.Title = "Teams";
}

<h2>List of all teams</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="teamsTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    <img style="width:50px;height:30px;position:center" src="@item.ImgURL" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.id },new { @class = "form-control"})
                    }

                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "form-control" })
                   
                </td>
            </tr>
        }
    </tbody>
    </table>

@section scripts{
    <script>
            $(document).ready(function () {
                $("#teamsTable").DataTable();
        });
    </script>
 }
